@charset "UTF-8";
:root {
    --corRoxa: #6A33AA;
    --corRoxoEscuro: #420064;
    --corAzul: #90A6D5;
    --corAzulEscuro: #6E79B9;
    --corRosaClaro: #FBEBEC;
    --FonteApple: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fonteAssinatura: "Dancing Script";
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    animation: blockScroll 4.5s forwards;
    overflow-x: hidden;
}
@keyframes blockScroll {
    0% {
        overflow: hidden;
    }
    99% {
        overflow: hidden;
    }
    100% {
        overflow: auto;
    }
}
header {
    width: 100%;
    height: 200px;
    background-image: url(img/papel-de_parede.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: showw 4.5s forwards;
}
/* Todo conteudo da pagina inicial está dentro de uma section, menos o menu, ele tem sua própria estilização */
section {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    animation: showw 4.5s forwards;
}


/* Bloco de menu */
#menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    animation: showw 4.5s forwards;
}
#menu a {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--corRoxoEscuro);
    font-weight: bold;
    animation: showMenu 1s forwards;
}
@keyframes showMenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#menu .itemMenu {
    display: none;
}
#menu .itemMenu:hover {
    background-color: var(--corRoxoEscuro);
    color: white;
    transition: all .3s;
}
#menu .itemMenu:not(:hover) {
    transition: all .3s;
}
#menu #itemMenuOpen:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    transition: all .3s;
}
#menu #itemMenuOpen:not(:hover) {
    transition: all .3s;
} /* Fim do bloco de menu*/

/* Bloco de saudacao */
#saudacao {
    margin-top: 10px;
}
#saudacao .saudacao.p1 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;  
}
#saudacao .saudacao.p2 {
    background-color: var(--corAzul);
    padding: 10px;
    border-radius: 0 10px 0 10px;
}
#saudacao .saudacao.p3 {
    font-size: 1.1rem;
    text-align: center;
    margin: 10px 0 10px 0;
}



/* Bloco de conteudo */
#conteudo article {
    margin-top: 40px;
}
#conteudo article h1 {
    color: var(--corRoxoEscuro);
}
#conteudo article h2 {
    color: var(--corAzulEscuro);
}
#conteudo article p {
    margin-bottom: 10px;
} /* Melhor revisar os tamanhos de p. h1, h2 etcs*/













@keyframes showw {
    0% {
        display: none;
        opacity: 0;
    }
    90% {
        display: none;
        opacity: 0;
    }
    91% {
        display: flex;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}